<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>This mail has been generated from <%= "#{@contact_deatils['name']}" %>. You can find his/her details in below section.</h3>
    
    <p><strong>Name</strong> : <%= "#{@contact_deatils['name']}" %></p>
    <p><strong>Phone</strong> : <%= "#{@contact_deatils['phone']}" %></p>
    <p><strong>Email ID</strong> : <%= "#{@contact_deatils['email']}" %></p>
    <p><strong>Organization</strong> : <%= "#{@contact_deatils['organization']}" %></p>
    <p><strong>What you want to do</strong> : <%= "#{@contact_deatils['charity']}" %></p>
    <p><strong>Message</strong> : <%= "#{@contact_deatils['message']}" %></p>
  </body>
</html>