<!-- Album One Modal -->
<div id="album_three_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
    	<div class="modal-header">
    		Educational Programs
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">

        <div id="album-three-slider" class="flexslider album-slider">
          <ul class="slides album-slider-img">
            <li><%= image_tag "albums/education1.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education2.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education3.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education4.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education5.jpg", class: 'img-thumbnail' %></li>

            <li><%= image_tag "albums/education6.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education7.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education8.jpg", class: 'img-thumbnail' %></li>
          </ul>
        </div>

        <div id="album-three-carousel" class="flexslider album-carousel">
          <ul class="slides album-carousel-img">
            <li><%= image_tag "albums/education1.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education2.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education3.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education4.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education5.jpg", class: 'img-thumbnail' %></li>

            <li><%= image_tag "albums/education6.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education7.jpg", class: 'img-thumbnail' %></li>
            <li><%= image_tag "albums/education8.jpg", class: 'img-thumbnail' %></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>