<section>
	<div class="container">
		<h2 class="text-center">Photo Gallery</h2>
		<div class="row">
			<div class="flexslider">
			  	<ul class="slides main-slider-img">
				    <li><%= image_tag "gallery/womens_institution_1.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/womens_institution_2.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/womens_institution_3.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/womens_institution_4.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/womens_institution_5.jpg", class: 'img-thumbnail' %></li>

				    <li><%= image_tag "gallery/livelihood_1.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/livelihood_2.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/livelihood_3.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/livelihood_4.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/livelihood_5.jpg", class: 'img-thumbnail' %></li>
				    
				    <li><%= image_tag "gallery/education_1.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/education_2.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/education_3.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/education_4.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/education_5.jpg", class: 'img-thumbnail' %></li>
				    
				    <li><%= image_tag "gallery/youth_development_1.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/youth_development_2.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/youth_development_3.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/youth_development_4.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/youth_development_5.jpg", class: 'img-thumbnail' %></li>
			  	</ul>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			animationLoop: false,
			itemWidth: 230,
			itemMargin: 10
		});
	});
</script>