<section>
	<div class="container">
		<h2 class="text-center">Photo Gallery</h2>
		<div class="row">
			<div class="flexslider">
			  	<ul class="slides main-slider-img">
				    <li><%= image_tag "gallery/home-gallery-1.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-2.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-3.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-4.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-5.jpg", class: 'img-thumbnail' %></li>

				    <li><%= image_tag "gallery/home-gallery-6.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-7.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-8.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-9.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-10.jpg", class: 'img-thumbnail' %></li>
				    
				    <li><%= image_tag "gallery/home-gallery-11.jpg", class: 'img-thumbnail' %></li>
				    <li><%= image_tag "gallery/home-gallery-12.jpg", class: 'img-thumbnail' %></li>
			  	</ul>
			</div>
			<div class="text-center">
				<a href="http://photos.manjarifoundation.in/" class="btn btn-primary" target="_blank">More Photos</a>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			animationLoop: false,
			itemWidth: 230,
			itemMargin: 10
		});
	});
</script>