<section>
	<div class="container">
		<h2 class="text-center">Photo Gallery</h2>
		<div class="row">
			<div class="flexslider">
			  	<ul class="slides">
				    <li><%= image_tag "home-gallery-1.jpg" %></li>
				    <li><%= image_tag "home-gallery-2.JPG" %></li>
				    <li><%= image_tag "home-gallery-3.jpg" %></li>
				    <li><%= image_tag "home-gallery-4.jpg" %></li>

				    <li><%= image_tag "home-gallery-5.jpg" %></li>
				    <li><%= image_tag "home-gallery-6.JPG" %></li>
				    <li><%= image_tag "home-gallery-7.JPG" %></li>
				    <li><%= image_tag "home-gallery-8.jpg" %></li>

				    <li><%= image_tag "home-gallery-1.jpg" %></li>
				    <li><%= image_tag "home-gallery-2.JPG" %></li>
				    <li><%= image_tag "home-gallery-3.jpg" %></li>
				    <li><%= image_tag "home-gallery-4.jpg" %></li>

				    <li><%= image_tag "home-gallery-5.jpg" %></li>
				    <li><%= image_tag "home-gallery-6.JPG" %></li>
				    <li><%= image_tag "home-gallery-7.JPG" %></li>
				    <li><%= image_tag "home-gallery-8.jpg" %></li>
			  	</ul>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$('#myCarousel').carousel({
			interval: 3000
		})

		$('.flexslider').flexslider({
			animation: "slide",
			animationLoop: false,
			itemWidth: 230,
			itemMargin: 10
		});
	});
</script>