<% flash.each do |key, value| %>
  <div class="flash-container alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= value %>
  </div>
<% end %>

<div class="contact-header">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1>
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Taking the model forward</h2>
		<div class="col-md-12">
			<p class="text-justify">Through our determined efforts and with the kind help from our supporters we were able to bring positive change in the lives of underprivileged women and uplifting a community. We have been able to create a working model for rural development by empowered women’s organizations. But so much population remains to be covered. Manjari Foundation needs your support and active participation to take this model forward. Together we can help transform countless lives.</p>
			<p class="text-justify">If you are an individual, you can participate in our work by volunteering, researching or donating. Every small contribution of yours can bring in radical changes. If you are an organization sharing a similar vision, we welcome you to partner actively with us in projects. Your contribution would not only bring smile and happiness in the lives of many deprived families, this is also an opportunity to play active role in taking the country forward.</p>
			<p class="text-justify">There are diverse needs in every area we serve. Therefore, you can support and partner with Manjari Foundation in various ways. Here are few ways you can associate with Manjari and help lives blossom!</p>
		</div>
	</div>
</section>
<hr>

<section>
	<div class="container">
		<h2 class="text-center">How you can engage</h2>
		<div class="col-md-12">
			<h3 class="sub-title">Visit</h3>
			<p class="text-justify">We value contribution of every volunteer. They are the backbones of our organization as our volunteers not only support our vision and mission but help spread the message far and beyond. Feel free to visit our project areas any time. Please complete the form below to join our program.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Intern</h3>
			<p class="text-justify">We need young minds like you as you have the energy to make innovations and patience to learn from mistakes. Your intelligence and enthusiasm are your greatest assets and we need only that. As an intern your valuable contribution is most welcome. Surely the association will be a fruitful one as we would learn from each other’s experience and knowledge. For further details, do fill up the form below.<p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Research</h3>
			<p class="text-justify">If you are an academician, researcher or research institution then we would like to associate with you. We understand and appreciate the value of good research as we ourselves utilize research results for campaigning and other practical purposes. We are therefore eager to cooperate with academic researchers, both formal and informal. Complete the form below to be a part of our program.<p>
		</div>

		<div class="col-md-6">
			<h3 class="sub-title">Donate</h3>
			<p class="text-justify">Your donation of any amount can make a big difference in the lives of underprivileged women from rural families. Take the first step towards ending poverty and social injustice. Donate now and get involved. Manjari is a registered non-profit organization, so your donation will be exempted from tax. You can send your cheque/draft in favour of</p>
		</div>

		<div class="col-md-6">
					<div class="well">
						<h2>Yes, I want to Support</h2>
						<b>
						<p>Manjari Foundation</p>
						<p>Bhartiya Mahila Bank,</p>
						<p>Kachari Road, Dholpur, Rajasthan, India.</p>
						<p>A/c Number&nbsp;:&nbsp;111500010420,</p>
						<p>IFSC code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;BMBL0000036,</p>
						<p>MICR code&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;328733002</p>
						</b>
					</div>
		</div>
	</div>
</section>
<hr>

<section>
	<div class="container">
		<h2 class="text-center">Tell us how you want to support Manjari</h2>
		<div class="col-md-8">
			<%= form_for @contact, as: :contact, url: send_mail_path(@contact), method: :post, html: { class: "form-horizontal" } do |f| %>

				<div class="form-group">
					<label class="col-md-3">Name <span>*</span></label>
					<div class="col-md-7">
						<%= f.text_field :name, placeholder: "Name", class: 'form-control', required: true %>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Phone Number <span>*</span></label>
					<div class="col-md-7">
						<%= f.text_field :phone, placeholder: "Phone Number", class: 'form-control', required: true %>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Email ID <span>*</span></label>
					<div class="col-md-7">
						<%= f.email_field :email, placeholder: "Email", class: 'form-control', required: true %>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Organization</label>
					<div class="col-md-7">
						<%= f.text_field :organization, placeholder: "Organization", class: 'form-control' %>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">What you want to do</label>
					<div class="col-md-7">
						<%= f.select :charity, options_for_select(["Intern","Visit","Research","Donate","Other"]), {prompt: 'Please Select'}, {class: 'form-control'} %>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-3">Message</label>
					<div class="col-md-7">
						<%= f.text_area :message, placeholder: "Message", class: 'form-control', maxlength: '250' %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-7">
						<%= f.submit 'Send', class: 'btn btn-primary' %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col-md-4">
			<h3 class="sub-title">Our Address</h3>
			<p> <b>Manjari Foundation</b></p>
			<p> 1/363, Anand Nagar, Saipau Road</p>
			<p> Dholpur, Rajasthan, India.</p>
			<p class="address-icons"><i class="fa fa-phone"></i> +91 5642 223 671</p>
			<p class="address-icons"><i class="fa fa-envelope"></i> <a href="mailto:info@manjarifoundation.in">info@manjarifoundation.in</a></p>
			<p><a href="https://www.google.co.in/maps/place/Saipau+Rd,+Guru+Mail+Colony,+Dholpur,+Rajasthan+328001/@26.6981874,77.8769755,16.37z/data=!4m2!3m1!1s0x3973ffab2ebbd163:0x831188feccf217c9" target="_blank"><%= image_tag 'location.png', class: 'img-responsive'%></a></p>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		$('.rc-anchor-alert').hide();
	});
</script>
