<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
  	
  	<div class="item active">
      <div id="home-slider-one">
			  <div class="container">
		      <div class="row">
			      <div class="col-md-offset-6 col-md-6">
							<div class="banner-title">
								<h1>Manjari Foundation</h1>
								<p>We support community empowerment and rural transformation by guiding marginalized women towards sustainable and independent livelihood programs. We have started a mission and we need your support. Join us . . . .</p>	
							</div>
						</div>
			    </div>
			  </div>
			</div>
    </div>

    <div class="item">
    	<div id="home-slider-two">
			  <div class="container">
		      <div class="row">
		      	<div class="col-md-offset-6 col-md-6">
							<div class="banner-title">
								<h1>Manjari Foundation</h1>
								<p>We support community empowerment and rural transformation by guiding marginalized women towards sustainable and independent livelihood programs. We have started a mission and we need your support. Join us . . . .</p>	
							</div>
						</div>
		      </div>
			  </div>
			</div>
    </div>

    <div class="item">
    	<div id="home-slider-three">
			  <div class="container">
		      <div class="row">
		      	<div class="col-md-offset-6 col-md-6">
							<div class="banner-title">
								<h1>Manjari Foundation</h1>
								<p>We support community empowerment and rural transformation by guiding marginalized women towards sustainable and independent livelihood programs. We have started a mission and we need your support. Join us . . . .</p>	
							</div>
						</div>
		      </div>
			  </div>
			</div>
    </div>

    <div class="item">
    	<div id="home-slider-four">
			  <div class="container">
		      <div class="row">
		      	<div class="col-md-offset-6 col-md-6">
							<div class="banner-title">
								<h1>Manjari Foundation</h1>
								<p>We support community empowerment and rural transformation by guiding marginalized women towards sustainable and independent livelihood programs. We have started a mission and we need your support. Join us . . . .</p>	
							</div>
						</div>
		      </div>
			  </div>
			</div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
  </div>
</div>

<section id="main-page">
	<div class="container">
		<h2 class="text-center">What is Manjari</h2>
		<div class="col-md-6">
			<p>Manjari Foundation, a registered non-profit organization established in May 2015, is committed to help women from marginalized communities overcome social injustice, poverty and exclusion. We support rural women initiative at grass-root levels to facilitate empowerment so that they can lead a dignified life. We have come up with an effective and easily adaptable Manjari model which is capable of bringing in social and economic changes in adverse conditions.</p>
		</div>
		<div class="col-md-6">
			<p>Manjari’s open platform is a result of tireless contribution from professional development workers and capable support from PRADAN, a pioneer in promoting Self-Help Groups (SHGs) in India. We have been able to bring hope and joy in the lives of over 30,000 rural families. We target new milestones with the belief that someone, somewhere would make a choice to support our mission and vision and come forward to be a part of the project.</p>
			<p>Thank you for visiting us. Do stay a little longer to know what we do and how you can engage with us.</p>
			<a href="/our-mission" class="btn btn-primary">Read More</a>
		</div>
	</div>
</section>

<section id="our-programs">
	<div class="container">
		<h2 class="text-center">Our Programs</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag "home_page/womens_institution.jpg" %></div>
					<div class="program-content">
						<h4>Women's Institution Building</h4>
						<p>Manjari Foundation helps realize the power of institution building by engaging rural women at grassroots level.</p>
					</div>
					<div class="program-link">
						<a href="/organization" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag "home_page/livelihood.jpg" %></div>
					<div class="program-content">
						<h4>Livelihood Development</h4>
						<p>We aim at making a difference in the lives of socially-excluded women by guiding them towards sustainable livelihood programs.</p>
					</div>
					<div class="program-link">
						<a href="/livlihood-programs" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag "home_page/education.jpg" %></div>
					<div class="program-content">
						<h4>Education</h4>
						<p>Manjari Foundation works towards educating underprivileged women about the significance of livelihood education and equal opportunities.</p>
					</div>
					<div class="program-link">
						<a href="/education-programs" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag "home_page/youth_development.jpg" %></div>
					<div class="program-content">
						<h4>Youth Program</h4>
						<p>We provide the platform to youths from marginalized communities and help them explore their innate potential.</p>
					</div>
					<div class="program-link">
						<a href="/youth-development-programs" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-impact">
	<div class="container">
		<h2 class="text-center">Our Impact</h2>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'home_page/family.png' %></i>
                    <h3>34456 Families</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'home_page/help_group.png' %></i>
                    <h3>2538 Self Help Groups</h3>
                </div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'home_page/savings.png' %></i>
                    <h3>₹64 Mn	Savings of SHG members</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'home_page/village.png' %></i>
                    <h3>423	Villages</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'home_page/organization.png' %></i>
                    <h3>182	Village Orgs</h3>
        </div>
      </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
					<i><%= image_tag 'home_page/funds.png' %></i>
	                <h3>₹246 Mn	Revolving funds</h3>
	            </div>
            </div>
		</div>
		<a href="/resources" class="pull-right btn btn-primary">Read More ...</a>
	</div>
</section>

<%= render 'gallery' %>