<div id="home-banner">
  <div class="container">
      <div class="row">
      		<div class="col-md-offset-6 col-md-6">
				<div class="banner-title">
					<h1>Manjari Foundation</h1>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed orci vel nisl laoreet molestie. Etiam congue efficitur purus, eget pretium ipsum. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur.</p>	
				</div>
			</div>
      </div>
  </div>
</div>

<section id="main-page">
	<div class="container">
		<h2 class="text-center">What is Manjari</h2>
		<div class="col-md-6">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed orci vel nisl laoreet molestie. Etiam congue efficitur purus, eget pretium ipsum. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.
		</div>
		<div class="col-md-6">
			Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.
			<br><br>
			<a href="/our-mission" class="btn btn-primary">Read More</a>
		</div>
	</div>
</section>

<section id="our-programs">
	<div class="container">
		<h2 class="text-center">Our Programs</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("home-1.JPG") %></div>
					<div class="program-content">
						<h4>Women's Institution Building</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
					</div>
					<div class="program-link">
						<a href="/organization" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("home-2.jpg") %></div>
					<div class="program-content">
						<h4>Livilihood Development</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
					</div>
					<div class="program-link">
						<a href="/livlihood-programs" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("home-3.JPG") %></div>
					<div class="program-content">
						<h4>Education</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
					</div>
					<div class="program-link">
						<a href="/education-programs" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("home-4.JPG") %></div>
					<div class="program-content">
						<h4>Youth Program</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
					</div>
					<div class="program-link">
						<a href="/youth-development-programs" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-impact">
	<div class="container">
		<h2 class="text-center">Our Impact</h2>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'family.png' %></i>
                    <h3>34456 Families</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'help_group.png' %></i>
                    <h3>2538 Self Help Groups</h3>
                </div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'savings.png' %></i>
                    <h3>₹64 Mn	Savings of SHG members</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'village.png' %></i>
                    <h3>423	Villages</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
                    <i><%= image_tag 'organization.png' %></i>
                    <h3>182	Village Orgs</h3>
                </div>
            </div>
			<div class="col-sm-6 col-md-4">
				<div class="feature-wrap">
					<i><%= image_tag 'funds.png' %></i>
	                <h3>₹246 Mn	Revolving funds</h3>
	            </div>
            </div>
		</div>
		<a href="" class="pull-right">Read More ...</a>
	</div>
</section>

<%= render 'gallery' %>