<section id="main-page">
	<div class="container">
		<h2 class="text-center title">What is Manjari</h2>
		<br>
		<div class="col-md-6">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed orci vel nisl laoreet molestie. Etiam congue efficitur purus, eget pretium ipsum. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.
		</div>
		<div class="col-md-6">
			Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.
			<br><br>
			<a href="#" class="btn btn-primary">Read More</a>	
		</div>
	</div>
</section>

<section id="our-programs">
	<div class="container">
		<h2 class="text-center">Our Programs</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("IMG_20140726_190232.JPG") %></div>
					<div class="program-content">
						<h4>Women's Institution Building</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
						<a href="" class="btn btn-primary">Read More</a>
					</div>	
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("Photo0172.jpg") %></div>
					<div class="program-content">
						<h4>Livilihood Development</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
						<a href="" class="btn btn-primary">Read More</a>
					</div>	
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("IMG_1749.JPG") %></div>
					<div class="program-content">
						<h4>Education</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
						<a href="" class="btn btn-primary">Read More</a>
					</div>	
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="programs-wrap">
					<div class="program-img"><%= image_tag("DSC06624.JPG") %></div>
					<div class="program-content">
						<h4>Youth Program</h4>
						<p>Vestibulum laoreet sagittis viverra. Proin ac convallis dui. Sed non venenatis est, id egestas mi.</p>
						<a href="" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="our-impact">
	<div class="container">
		<h2 class="text-center">Our Impact</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="feature-wrap">
                    <i class="fa fa-users"></i>
                    <h3>34456 Families</h3>
                </div>
            </div>
			<div class="col-md-4">
				<div class="feature-wrap">
                    <i class="fa fa-bullhorn"></i>
                    <h3>2538 Self Help Groups</h3>
                </div>
			</div>
			<div class="col-md-4">
				<div class="feature-wrap">
                    <i class="fa fa-inr"></i>
                    <h3>₹64 Mn	Savings of SHG members</h3>
                </div>
            </div>
			<div class="col-md-4">
				<div class="feature-wrap">
                    <i class="fa fa-area-chart"></i>
                    <h3>423	Villages</h3>
                </div>
            </div>
			<div class="col-md-4">
				<div class="feature-wrap">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h3>182	Village Orgs</h3>
                </div>
            </div>	
			<div class="col-md-4">
				<div class="feature-wrap">
					<i class="fa fa-money"></i>
	                <h3>₹246 Mn	Revolving funds</h3>
	            </div>
            </div>
		</div>
		<a href="" class="pull-right">Read More ...</a>
	</div>
</section>

<section id="gallery">
	<div class="container">
		<h2 class="text-center">Photo Gallery</h2>
		<div class="row">
			<div class="col-md-12">
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active">
	                        <div class="row">
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("trng.jpg", size: "250x261") %></a>
	                            </div>
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("Photo0172.jpg", size: "250x261") %></a>
	                            </div>
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("IMG-20151127-WA0025.jpg", size: "250x261") %></a>
	                            </div>
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("IMG_20140823_150804.jpg", size: "250x261") %></a>
	                            </div>
	                        </div>
                    	</div>

                    	<div class="item">
	                        <div class="row">
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("IMG_20140407_143609.jpg", size: "250x261") %></a>
	                            </div>
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("IMG_0270.JPG", size: "250x261") %></a>
	                            </div>
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("IMG_0186.JPG", size: "250x261") %></a>
	                            </div>
	                            <div class="col-sm-3">
	                            	<a href="#"><%= image_tag("Beby Devi 2.jpg", size: "250x261") %></a>
	                            </div>
	                        </div>
                    	</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$('#myCarousel').carousel({
			interval: 3000
		}) 
	});
</script>