<% if action_name=='index'%>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Manjari Foundation - Developing women's organizations at the grassroots.
    </div>
<% end %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag 'Manjarilogopng.png' %></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who We Are <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li class="<%= 'active' if action_name=='our_mission'%>">
                    <a href="/our-mission">Mission and Vision</a>
                </li>

                <li class="<%= 'active' if action_name=='principals'%>">
                    <a href="/principals">Core principals</a>
                </li>

                <li class="<%= 'active' if action_name=='where_we_work'%>">
                    <a href="/where-we-work">Where we work</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if action_name=='education_programs'%>">
              <a href="/education-programs">Education Programs</a>
            </li>

            <li class="<%= 'active' if action_name=='livlihood_programs'%>">
              <a href="/livlihood-programs">Livelihood Programs</a>
            </li>

            <li class="<%= 'active' if action_name=='rural_healthcare_program'%>">
              <a href="/rural-healthcare-program">Rural Healthcare Program</a>
            </li>

            <li class="<%= 'active' if action_name=='organization'%>">
              <a href="/organization">Women Institutions</a>
            </li>

            <li class="<%= 'active' if action_name=='youth_development_programs'%>">
              <a href="/youth-development-programs">Youth Development Programs</a>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if action_name=='our_supporters'%>">
            <a href="/our-supporters">Our Supporters</a>
        </li>

        <li class="<%= 'active' if action_name=='resources'%>" >
            <%= link_to "Resources", resources_path(), 'data-no-turbolink' => false %>
        </li>

        <li class="<%= 'active' if action_name=='contact'%>">
            <a href="/contact">Engage with us</a>
        </li>
        <li>
          <a href="#" id="search-toggle"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
    $(".alert-success" ).fadeOut(7000);
</script>
