<% if action_name=='index'%>
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Manjari Foundation - Developing women's organizations at the grassroots.
    </div>
<% end %>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to image_tag('Manjarilogopng.png'), root_path, class: 'navbar-brand', 'data-no-turbolink' => false %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who We Are <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li class="<%= 'active' if action_name=='our_mission'%>">
                  <%= link_to "Mission and Vision", our_mission_path(), 'data-no-turbolink' => false %>
                </li>

                <li class="<%= 'active' if action_name=='principals'%>">
                  <%= link_to "Core principals", principals_path(), 'data-no-turbolink' => false %>
                </li>

                <li class="<%= 'active' if action_name=='where_we_work'%>">
                  <%= link_to "Where we work", where_we_work_path(), 'data-no-turbolink' => false %>
                </li>
            </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li class="<%= 'active' if action_name=='education_programs'%>">
              <%= link_to "Education Programs", education_programs_path(), 'data-no-turbolink' => false %>
            </li>

            <li class="<%= 'active' if action_name=='livlihood_programs'%>">
              <%= link_to "Livelihood Programs", livlihood_programs_path(), 'data-no-turbolink' => false %>
            </li>

            <li class="<%= 'active' if action_name=='rural_healthcare_program'%>">
              <%= link_to "Rural Healthcare Program", rural_healthcare_program_path(), 'data-no-turbolink' => false %>
            </li>

            <li class="<%= 'active' if action_name=='organization'%>">
              <%= link_to "Women Institutions", organization_path(), 'data-no-turbolink' => false %>
            </li>

            <li class="<%= 'active' if action_name=='youth_development_programs'%>">
              <%= link_to "Youth Development Programs", youth_development_programs_path(), 'data-no-turbolink' => false %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if action_name=='our_supporters'%>">
          <%= link_to "Our Supporters", our_supporters_path(), 'data-no-turbolink' => false %>
        </li>

        <li class="<%= 'active' if action_name=='resources'%>" >
          <%= link_to "Resources", resources_path(), 'data-no-turbolink' => false %>
        </li>

        <li class="<%= 'active' if action_name=='contact'%>">
          <%= link_to "Engage with us", contact_path(), 'data-no-turbolink' => false %>
        </li>

        <li>
          <a href="#" id="search-toggle"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
    $(".alert-success" ).fadeOut(7000);
</script>
